{% load static %}  <!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Auth{% endblock %}</title>
<!--    Підключено стилі-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body { font-family: sans-serif; margin: 20px; }
        nav a { margin-right: 15px; text-decoration: none; color: blue; }
        .alert { padding: 10px; background-color: #f0f0f0; margin-bottom: 10px; border: 1px solid #ccc; }
    </style>
</head>
<body>
    <nav style="margin-bottom: 20px; border-bottom: 1px solid #ddd; padding-bottom: 10px;">
        <a href="/">Головна</a>
        <a href="{% url 'products' %}">Товари</a> <a href="{% url 'categories' %}">Категорії</a>

        <a href="{% url 'cart_detail' %}" style="font-weight: bold; color: green;">🛒 Кошик ({{ request.session.cart|length }})</a>

        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Мій Профіль ({{ user.username }})</a>

            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: red; cursor: pointer; text-decoration: underline;">Вийти</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Увійти</a>
            <a href="{% url 'register' %}">Реєстрація</a>
        {% endif %}
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>