<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список категорій</title>
</head>
<body>
    <h1>Категорії товарів</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Дата створення</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>{{ category.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>