<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мій Магазин{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/products/">Головна</a> |
            <a href="/admin/">Адмін-панель</a>
        </nav>
        <hr>
    </header>

    <main>
        {# Це блок для динамічного контенту  #}
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 Django Shop Project</p>
    </footer>
</body>
</html>