{% extends 'products/layout.html' %}

{% block title %}Наші товари{% endblock %}

{% block content %}
<h1>Каталог товарів</h1>
<h1>Каталог товарів</h1>
<a href="{% url 'product-create' %}">
    <button style="margin-bottom: 15px;">+ Додати новий товар</button>
</a>
<table class="styled-table">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Категорія</th>
        <th>Ціна</th>
        <th>Кількість</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }} грн</td>
        <td>{{ product.product_qty }}</td>
        <td>
            <a href="{% url 'product-detail' product.pk %}">
                <button style="cursor: pointer;">👁️ Переглянути</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="margin-top: 20px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; перша</a>
            <a href="?page={{ page_obj.previous_page_number }}">попередня</a>
        {% endif %}

        <span class="current">
            Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">наступна</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">остання &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}