{% extends 'products/layout.html' %}

{% block title %}Наші товари{% endblock %}

{% block content %}
<h1>Каталог товарів</h1>
<table class="styled-table">
    <thead>
    <tr>
        <th>Назва</th>
        <th>Ціна</th>
        <th>Кількість</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.product_qty }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="margin-top: 20px;">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; перша</a>
            <a href="?page={{ page_obj.previous_page_number }}">попередня</a>
        {% endif %}

        <span class="current">
            Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">наступна</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">остання &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}