{% extends 'products/layout.html' %}

{% block title %}Наші товари{% endblock %}

{% block content %}
    <h1>Каталог товарів</h1>
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Назва</th>
                <th>Категорія</th>
                <th>Ціна</th>
                <th>Кількість</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.price }} грн</td>
                <td>{{ product.product_qty }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}